.urlInput{
  display: block;
  background: black;
  color: white;
  width: 100vw;
  padding-left: 0.75rem;
  height: 40px;
  font-size: 0.875rem;
  white-space: nowrap;
  line-height: 40px;
  border: 1px solid black;
}